.first-section {
    height: 75px;
    margin: 20px 20px 0 20px;
}

.first-section
/* .second-section { */ {
    border: 1px solid black;
    border-radius: 6px;
}

.dashboard-welcome-text {
    display: block;
    height: inherit;
    width: inherit;
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
    align-content: center;
}

.second-section {
    /* display: flex; */
    height: calc(100vh - 196px);
    margin: 20px;
    border-radius: 6px;
}

.second-section .task-statuses-container {
    height: 100%;
    border-radius: inherit;
    border: 1px solid black;
}

.task-statuses-container .task-statuses-title-container{
    width: cacl(100% - 40px);
    background-color: #f5f5f5;
    height: 30px;
    margin: 10px 20px;
    text-align: center;
    align-content: center;
}

.task-statuses-container .task-statuses-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    gap: 1rem;
}

.task-statuses-cards .task-status-card {
    background-color: rgb(88, 88, 88);
    height: 175px;
    color: white;
    padding: 1.2rem;
}

.task-status-card .status-title {
    display: block;
    height: 30px;
    margin: 10px 0;
    text-align: center;
    align-content: center;
    font-size: 20px;
    font-weight: 700;
}

.task-status-card .status-count {
    display: block;
    height: calc(100% - 50px);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    align-content: center;
}