* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 1.6);
    height: 400px;
    border-radius: 8px;
    border: 1px solid black;
}

.login-container .left-side,
.login-container .right-side {
    width: 50%;
    height: 100%;
}

.left-side {
    align-content: center;
}

.login-container #RegisterSide {
    display: none;
}

.label-container{
    height: 50px;
    text-align: center;
    padding: 10px 0px;
}

.username-container,
.email-container,
.password-container,
.login-acc-btn-container,
.register-acc-btn-container{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.username-container input,
.email-container input,
.password-container input,
.login-acc-btn-container button,
.register-acc-btn-container button {
    width: 80%;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    border: none;
    background-color: #efefef;
}

.email-container input:focus,
.password-container input:focus {
    outline: none;
}

.login-btn-container,
.register-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn-container p,
.login-btn-container button
.register-btn-container p,
.register-btn-container button  {
    height: 20px;
}

.register-btn-container button,
.login-btn-container button {
    border: none;
    font-weight: bold;
    padding-left: 5px;
}

.register-btn-container button:hover,
.login-btn-container button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.login-container .right-side h2 {
    height: 30px;
    text-align: center;
    margin: 10px 0;
}

.login-container .right-side div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 50px);
}

.right-side div img {
    width: 300px;
    height: 300px;
}
